= simple_form_for @feed do |f|
  = f.input :feed_url
  = f.input :group_id, as: :select, collection: Group.where(user_id: current_user.id).map {|g| [g.title, g.id]}, required: true
  = f.button :submit
