.feed_item {
  height: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .scroll_content {
    flex-grow: 1;
    padding: 0 20px 0 20px;
    overflow-y: auto;

    .full_content {
      max-width: 700px;
      margin: 0 auto;

      .header {
        font-size: 1em;
        color: #888;
        padding: 20px 0 10px 0;

        ul, li {
          padding: 0;
          margin: 0 0 10px 0;
          list-style: none;

          a {
            &.button {
              color: #999;
              float: right;
              padding: 4px 10px;
            }

            &.url_open {
              font-size: 1.2em;
              line-height: 1.15em;
              padding: 2px 6px 2px 6px;
              margin-right: 10px;
            }
            &.mark_saved, &.mark_unsaved {
              font-size: 1.4em;
              line-height: 1.15em;
              padding: 0px 4px 0 5px;
              margin-right: 10px;
            }
            &.mark_unsaved {
              color: #fff;
              border-color: #E54D41;
              background: #E54D41;
            }
          }
        }

        .created_on_time, .word_count, .length_in_time {
          float: left;
          line-height: 28px;
          margin-right: 10px;
          padding-right: 10px;
          border-right: 1px solid #ddd;

          &:last-child {
            border-right: 0;
          }
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      .feed_content {
        margin-top: 20px;
        padding-bottom: 100px;
        line-height: 1.5em;

        h1.feed_item_title {
          margin: 0 0 25px 0;
          padding: 0;
          line-height: 1.2em;

          .feed_item_url {
            line-height: 1.8em;
            font-size: 0.4em;
            font-weight: normal;

            a {
              color: #999;
            }
          }
        }

        img {
          display: block;
          margin: 0 auto;
          text-align: center;
          max-width: 100%;
          height: auto;
          max-height: auto;
          padding: 20px 0;
        }

        hr {
          margin: 20px 0;
          padding: 0;
          border: 0;
          border-top: 1px solid #efefef;
        }

        pre {
          width: 100%;
          font-size: 0.8em;
          line-height: 1.2em;
          overflow: auto;
          padding: 20px;
          background: #f7f7f7;

          code {
            width: 100%;
          }
        }

        blockquote {
          font-family: Georgia,Times,Times New Roman,serif;
          font-style: italic;
          font-size: 1em;
          line-height: 1.6em;
          color: #777;
          margin: 0;
          padding: 0px 20px;
          border-left: 2px solid #ccc;
        }

        h1.current_paragraph,
        h2.current_paragraph,
        h3.current_paragraph,
        h4.current_paragraph,
        h5.current_paragraph,
        div.image_wrap.current_paragraph,
        p.current_paragraph {
          position: relative;
          border-left: 2px solid #f00;
          padding-left: 28px;
          margin-left: -30px;
        }

        ul.current_paragraph,
        ol.current_paragraph {
          position: relative;
          border-left: 2px solid #f00;
          padding-left: 68px;
          margin-left: -30px;
        }

        pre.current_paragraph {
          border-left: 2px solid #f00;
        }

      } // end .feed_content
    } // end .full_content
  }
}
