.feed_item {
  height: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .scoll_content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;

    .full_content {
      margin-left: 10%;
      margin-right: 10%;

      img {
        width: 100%;
      }

      .subline {
        font-size: 1em;
        color: #888;

        .created_on_time,
        .word_count {
          float: left;
          padding-right: 6px;
          margin-right: 6px;
          border-right: 1px solid #ddd;
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      h1 {
        margin: 0;
        padding: 0;
      }

    } // end .full_content
  }
}
