.feeds {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      .feed {
        padding: 5px 20px 5px 20px;
        border-bottom: 1px solid #ddd;

        h1 {
          font-size: 1em;
          line-height: 1.2em;
        }

        p {
          font-size: 0.8em;
          line-height: 0.9em;
        }

        .tag {
          padding: 3px 6px;
          border-radius: 3px;
          background: #f7f7f7;
          border-bottom: 1px solid rgba(150, 150, 150, 0.2);
        }

        .button {
          float: right;
        }
      }
    }
  }
}

.feed_items_listing {
  h1 {
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 10px 20px 10px 20px;
      border-bottom: 1px solid #ddd;

      .subline {
        font-size: 0.8em;
        color: #888;

        .created_on_time,
        .word_count {
          float: left;
          padding-right: 6px;
          margin-right: 6px;
          border-right: 1px solid #ddd;
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }

      h2 {
        font-size: 1em;
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 5px 0;

        .is_saved {
          font-size: 0.8em;
          margin-right: 10px;
          padding: 3px 6px;
          border-radius: 3px;
          color: #fff;
          background: #E54D41;
          border-bottom: 1px solid rgba(150, 150, 150, 0.2);
        }
      }

      &.read {
        background: rgba(230, 230, 230, 0.1);

        h2 a {
          color: #999;
        }
      }

      &:hover {
        background: rgba(230, 230, 230, 0.1);
      }
    }
  }
}
