.feed_item {
  padding: 20px;

  .subline {
    font-size: 1em;
    color: #888;

    .created_on_time,
    .word_count {
      float: left;
      padding-right: 6px;
      margin-right: 6px;
      border-right: 1px solid #ddd;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}
