.feeds {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      .feed {
        padding: 5px 20px 5px 20px;
        border-bottom: 1px solid #ddd;

        h1 {
          font-size: 1em;
          line-height: 1.2em;
        }

        p {
          font-size: 0.8em;
          line-height: 0.9em;
        }

        .tag {
          padding: 3px 6px;
          border-radius: 3px;
          background: #f7f7f7;
          border-bottom: 1px solid rgba(150, 150, 150, 0.2);
        }

        .button {
          float: right;
        }
      }
    }
  }
}

.feed_show {
  height: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .scoll_content {
    flex-grow: 1;
    overflow-y: auto;

    h1 {
      margin: 0;
      padding: 10px 20px 10px 20px;
      border-bottom: 1px solid #ddd;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 10px 20px 10px 20px;
        border-bottom: 1px solid #ddd;

        .subline {
          font-size: 0.8em;
          color: #888;

          .created_on_time,
          .word_count {
            float: left;
            padding-right: 6px;
            margin-right: 6px;
            border-right: 1px solid #ddd;
          }

          &:after {
            content: "";
            display: block;
            clear: both;
          }
        }

        h2 {
          font-size: 1em;
          line-height: 1.2em;
          margin: 0;
          padding: 0 0 5px 0;

          .is_saved {
            font-size: 0.8em;
            margin-right: 10px;
            padding: 3px 6px;
            border-radius: 3px;
            color: #fff;
            background: #E54D41;
            border-bottom: 1px solid rgba(150, 150, 150, 0.2);
          }
        }

        &.read {
          background: rgba(230, 230, 230, 0.1);

          h2 a {
            color: #999;
          }
        }

        &:hover {
          background: rgba(230, 230, 230, 0.1);
        }
      }
    }
  }
}

.new_feed {
  @include clearfix;

  button, input.button {
    padding: 6px 20px;
    color: #fff;
    border-color: #E54D41;
    background-color: #E54D41;
    text-decoration: none;
    &:hover {
      color: #fff;
      border-color: #E54D41;
      background-color: #E54D41;
    }

    &:disabled {
      color: #ccc;
      background: #efefef;
      border: 1px solid #ccc;
    }
  }

  input.button {
    float: right;
    margin-top: 0;
  }

  .screen-1 {
    .feed-urls {
      margin-top: -12px;
      padding: 5px;
      background: #fff;
      border: 1px solid #ddd;

      .feed-url {
        font-size: 0.9em;
        line-height: 30px;
        padding: 5px;
        @include clearfix;

        &:hover {
          background: rgba(150, 150, 150, 0.1);
        }

        .btn {
          float: left;
          display: block;
          color: #fff;
          margin-right: 10px;
          padding: 0px 15px;
          background: #E54D41;
          border-radius: 3px;
        }
      }
    }

    button {
      float: right;
    }
  }

  .screen-2 {
    display: none;
  }
}
