html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

a {
  color: #E54D41;
  text-decoration: none;
  &:hover {
    color: #6CC1B9;
  }
}

#nprogress {
  .peg {
    display: none;
  }
  .bar {
    background: #efefef;
    height: 4px;
    z-index: 1
  }
}

.clearfix {
  clear: both;
}

.all-wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .sidebar {
    width: 300px;
    border-right: 1px solid #ddd;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;

    .header {
      .logo {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid #ddd;

        img {
          width: 150px;
          margin-top: 5px;
        }
      }
    }

    .navigation {
      @include clearfix;
      border-bottom: 1px solid #ddd;

      ul {
        padding: 0;
        margin: 0;

        li {
          float: left;
          width: 50%;
          list-style: none;

          &:last-child {
            border-left: 1px solid #ddd;
          }


          a {
            text-align: center;
            display: block;
            padding: 10px;
            font-size: 0.9em;
            font-weight: bold;
          }
        }
      }
    } // end of .navigation

    .secondary-navigation {
      margin-top: 30px;
      text-align: center;
      color: #777;

      .logout {
        margin-top: 20px;
        a {
          font-size: 0.8em;
          padding: 4px 10px;
        }
      }
    }
  }

  .content-wrap {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;
  }
}

.notice, .alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  line-height: 50px;
}
.notice { background: #6CC1B9; }
.alert { background: #E62117; }


.button {
  font-size: 0.9em;
  padding: 6px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;

  &:hover {
    background: #f7f7f7;
  }
}

.options_header {
  height: 100%; // fixes height "bug" in webkit
  max-height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  line-height: 45px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(100, 100, 100, 0.1);

  .pagination {
    flex-grow: 1;
    flex-basis: 200px;
    text-align: right;

    .button {
      margin-right: 10px;
    }
  }

  .breadcrumb {
    flex-grow: 1;
    @include clearfix;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        margin: 0;
        margin-left: 15px;
        padding: 0;

        a {
          display: block;
          margin-left: -15px;
          padding: 0 15px;
          border-right: 1px solid #ddd;

          &:hover {
            background: #f7f7f7;
          }
        }

      }
    }
  }
}
